//------------------------------
//Main Banner
//------------------------------

.banner{
	&.container{
		@include gradient-orange;
		margin-top: 60px;
		padding: 10px 0;
		.col-md-6{
			img{
				max-width: 90%;
				margin: 10px auto;
				display: block;
				height: auto;
			}
			a{
				text-decoration: underline;
				display: block;
				margin: 1em auto;
				color: $white;
				text-align: center;
				&.button-def{
					text-decoration: none;
				}
			}
		}
	}
}

//------------------------------
//steps
//------------------------------

.how-works {
	margin: 4em auto;
	header{
		h2{
			text-align: center;
			color: $black;
			font-size: 3em;
			padding-bottom: 1em;
			span{
				display: inline-block;
				-moz-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
				filter: FlipH;
				vertical-align: top;
			}
		}
	}
	//side left
	.side-left{
		//thumbnail
		.item-step{
			max-width: 290px;
			//mobile
			@include sm-desktop{
				display: block;
				margin: 1em auto;
				float: none;
			}
			//thumb icon
			figure{
				img{
					display: block;
					max-width: 100%;
					height: auto;
					margin: 1em auto;
				}
			}
			p {
				position: relative;
				display: block;
				padding-left: 50px;
				min-height: 100px;
				span{
					width: 40px;
					height: 40px;
					display: block;
					position: absolute;
					left: 0;
					top: 30%;
					margin-top: -20px;
					color: $white;
					background-color: $orange;
					font-weight: 700;
					text-align: center;
					border-radius: 100%;
					line-height: 40px;
					font-size: 2em;
				}
			}
		}
	}
	//video
	.side-right{
		iframe{
			border-radius: 3em;
		}
	}
}

//------------------------------
//prizes
//------------------------------
.votes,
.prizes{
	background-image: url('../img/bg_prices.png');
	background-position: bottom center;	
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 2em 0;
	width: 100%;
	@include sm-desktop{
		background-size: 200% auto;
	}
	header{
		h2{
			text-align: center;
			color: $black;
			font-size: 3em;
			padding-bottom: 1em;
			//big desktop
			@include bdesktop{
				padding-bottom: 3em;
			}
		}
	}
	img{
		max-width: 100%;
		display: block;
		margin: 1em auto;
	}
}

.votes{
	background-image: none;
	header{
		h2{
			text-align: center;
			color: $black;
			font-size: 3em;
			padding-bottom: 1em;		
		}
	}
	img{
		width: auto;
		height: auto;
		max-height: 256px;
	}
}

//------------------------------
//form section
//------------------------------

.form-suscription{
	@include gradient-orange;
	padding: 2em 0;
	//header
	header{
		h2{
			text-align: center;
			color: $black;
			font-size: 3em;
			padding-bottom: 1em;
		}
	}
	//form
	#suscription_form {
		#messages{
			width: 100%;
			p{
				display: block;
				width: 100%;
				padding: .5em;
				background-color: #68b366;
				text-align: center;
				color: white;
				margin: 1em auto;
				font-family: $cavort;
				font-size: 1.7em;
				border-radius: .5em;
			}
		}

		fieldset{
			display: none;
			//when is active
			&.active{
				display: block;
			}
			//inputs
			.input-holder {
				position: relative;
				display: block;
				margin: 1em auto 2em;
				width: 100%;
				//Label for form
				label {
					color: $white;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 1.2em;
				}
				//icon
				&::after{
					content: "";
					display: block;
					position: absolute;
					right: 10px;
					top: 6px;
					z-index: 3;
					//mobile
					@include sm-desktop{
						right: 3%;
						top: 15%;
					}
				}

					&.file{
						&::after{
							width: 26px;
							height: 28px;
							background-image: url('../img/clip.png');
							right: 14%;
							top: 18%;
							//mobile
							@include sm-desktop{
								right: 3%;
							}
						}
					}

					&.picture{
						&::after{
							width: 36px;
							height: 28px;
							background-image: url('../img/images.png');
							top: 16%;
							//mobile
							@include sm-desktop{
								right: 3%;
							}
						}
					}

					&.kid{
						&::after{
							width: 54px;
							height: 54px;
							background-image: url('../img/lemon-kid.png');
							top: -8%;
							right: 0;
							//mobile
							@include sm-desktop{
								right: 0;
							}
						}
					}

					&.dad{
						&::after{
							width: 31px;
							height: 31px;
							background-image: url('../img/user.png');
							right: 12%;
							//mobile
							@include sm-desktop{
								right: 3%;
							}
						}
						.fk-input{
							display: block;
							position: absolute;
							top: 7px;
							left: 7px;
							font-size: 20px;
							font-weight: bold;
							color: $lt-gray2;
							cursor: pointer;
							z-index: 4;
							@include sm-desktop{
								top: 35%;
							}
						}
						//prompt text
						.prompt-text{
							display: block;
							position: absolute;
							color: $white;
							background-color: $purple;
							width: 150px;
							left: -170px;
							top: -65px;
							font-size: 10px;
							text-transform: uppercase;
							padding: 10px;
							display: none;
							z-index: 5;
							&::after{
								content: "";
								display: block;
								width: 12px;
								height: 24px;
								background-image: url('../img/caret-left.png');
								position: absolute;
								top: 42%;
								right: -11px;
							}
						}

						@include defdesktop{
							.prompt-text{
								width: 250px;
								left: 0;
								top: 55px;
								&::after{
									top: -16px;
									right: auto;
									left: 12px;
									transform: rotate(-90deg)
								}
							}
						}
					}

					&.id-card{
						&::after{
							width: 33px;
							height: 33px;
							background-image: url('../img/id-card.png');
							right: 12%;
							//mobile
							@include sm-desktop{
								right: 3%;
							}
						}
						&.kid{
							&::after{
								top: 10%;
								//mobile
								@include sm-desktop{
									right: 3%;
								}
							}
						}
					}

					&.email{
						&::after{
							width: 29px;
							height: 28px;
							background-image: url('../img/email.png');
						}
					}

					&.phone{
						&::after{
							width: 28px;
							height: 30px;
							background-image: url('../img/phone.png');
						}
					}
				select,
				.dummy-field,
				input {
					display: block;
					width: 90%;
					border: none;
					padding: 2% 10% 2% 5%;
					background-color: $white;
					color: $orange;
					font-weight: bold;
					position: relative;
					text-transform: uppercase;
					z-index: 1;

					//mobile
					@include sm-desktop{
						width: 100%;
						margin: 0 auto;
						padding: 6% 10% 6% 9%;
						font-size: .7em;
					}

					&::-webkit-input-placeholder {
					  color: $orange;
					  font-weight: bold;
					  text-transform: uppercase;
					}

					&::-moz-placeholder {
					  color: $orange;
					  font-weight: bold;
					  text-transform: uppercase;
					}

					&:-ms-input-placeholder {
					  color: $orange;
					  font-weight: bold;
					  text-transform: uppercase;
					}

					&:-moz-placeholder {
					  color: $orange;
					  font-weight: bold;
					  text-transform: uppercase;
					}

					//type field
					&.file{
						opacity: 0;
					}
				}
				.dummy-field{
					position: absolute;
					z-index: 0;
					top: 0;
				}

				//fOR CHECKBOX
				&.checkbox{
					input{
						display: inline-block;
						width: auto;
						vertical-align: middle;
						width: 5%;
						margin-left: 0 !important; 
					}
					label{
						display: inline-block;
						vertical-align: middle;
						color: $white;
						font-weight: bold;
						text-transform: uppercase;
						font-size: 1.6em;
						width: 90%;
					}

				}
			}
			.side-left{
				.input-holder{
					input {
						margin-right: 10%;
						//mobile
						@include sm-desktop{
							margin: 0;
						}
					}
				}
			}
			.side-right{
				.input-holder{
					input {
						margin-left: 10%;
						//mobile
						@include sm-desktop{
							margin: 0;
						}
					}
				}
			}

			//bottom inputs
			.asistant-frm{
				text-align: center;
				clear: both;
				width: 100%;
				.btn {
					display: inline-block;
					margin: .5em;
					border-radius: 0;
					padding: 0.5% 5%;
					&#send_data{
						position: relative;
						display: none;
						span.loading{
							display: block;
							position: absolute;
							z-index: 1;
							background-image: url('../img/loading.svg');
							background-position: center center;
							background-repeat: no-repeat;
							background-color: transparent;
							width: 100%;
							height: 100%;
							opacity: 1;
							z-index: 4;
							top: 0;
							left: 0;
						}
						&.load{
							opacity: .7;
						}
					}
				}
			}

			//step-3
			&.step-3{
				a { 
					color: $white;
					text-decoration: underline;
					text-align: left;
					width: auto;
					display: block;
					margin-bottom: 2em;
					margin-left: 26%;
				}
			}
		}
	}
}
