//Fonts
$arialR: 'Arial Rounded MT';
$mias: 'Mias Scribblings';
$cavort: 'Cavorting';

//colors
$yellow: #fd8e01;
$orange: #d36226;
$black: #000000;
$white: #ffffff;
$pink: #c64d9b;
$gray: #5b5b5f;
$lt-gray: #e8e8e8;
$lt-gray2: #aeadb3; 

//screens
$tablet-width: 768px;
$desktop-width: 1024px;
$sm-desktop-width: 981px;
$big-desktop-width: 1481px;

